<% if current_user %>
  <h1>Welcome: <%= @user.username  %></h1>
  <h2>Your Images</h2>
  <%= link_to('Add Image', new_image_path)  %>
<% elsif %>
<h1><%= @user.username  %> Images</h1>
<% end %>

<% @images.each do |image| %>
  <div class="row">
    <div class="col sm-4">
      <div class="card">
        <div class="card-block">
        <%= image_tag(image.photo) %>
        <h3>Title: <%= link_to image.title, image_path(image) %></h3>
        <h5>Description: <%= image.description %></h5>
        <h5>Posted: <%= image.created_at.to_formatted_s(:long_ordinal) %></h5>
        <% if current_user && current_user.id === @user.id %>
          <p><%= link_to('Edit', edit_image_path(image))  %> |
          <%= link_to "Delete", image_path(image),
           :data => {:confirm => "You sure?",
           :method => "delete"} %>
         </p>
        <% end %>
        </div>
      </div>
    </div>
  </div><br>
<% end %>
